doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title Statify
  body
    div(class="btn-container")
      a(href="/login", class="login-btn") Log in
