doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/stats.css")
    title Document
  body
    div(class="stats-container")
      div(class="stats-container top-container top-artists")
      div(class="stats-container top-container top-tracks") 
      div(class="stats-container recently-played")
        p(class="minutes-listened") minutes
